/* CUSTOM PROPERTIES */
:root {
  --green: #009688;
  --bg-gray: #dcdbd2;
  --bg-chat: #ece5dd;
  --light-blue: #8edafc;
  --sent: #d5f9ba;
  --light-gray: #eaeaea;
  --darker-gray: #222e35;
}

/* GENERICS */
body {
  height: 100vh;
  padding-top: 50px;
  background-image: linear-gradient(var(--green) 15%, var(--bg-gray) 15%);
}

main {
  height: 90%;
}

li {
  list-style: none;
}

#boolzapp {
  background-color: white;
}

#user,
#chat-header,
#chat-footer {
  height: 80px;
  background-color: var(--light-gray);
}

/* MEDIA */
.round-pic {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

/* ICONS */
#user i,
#chat-header i,
#chat-footer i {
  padding: 10px;
  cursor: pointer;
  color: var(--darker-gray);
}

#user i:hover,
#chat-header i:hover,
#chat-footer i:hover {
  color: var(--green);
}

/* SIDEBAR */
#sidebar.col-4 {
  border-right: 1px solid black;
}

#notifications {
  height: 100px;
  background-color: var(--light-blue);
}

#notifications p {
  cursor: pointer;
}

#search-bar {
  height: 60px;
  background-color: var(--light-gray);
}

#contact-list {
  overflow-y: auto;
}

#contact-list li {
  border-bottom: 1px solid lightgrey;
}

#contact-list li:hover {
  cursor: pointer;
  background-color: lightgrey;
}

/* CHAT-CONTENT */
#chat {
  overflow-y: auto;
  background-image: url(../img/mine.jpg);
}

.message-container {
  display: flex;
}

.message-container.sent {
  justify-content: flex-end;
}

.message-container.received {
  justify-content: flex-start;
}

.message-container.sent .message {
  background-color: var(--sent);
}

.message-container.received .message {
  background-color: white;
}

.message {
  border-radius: 25px;
  padding: 15px;
}

.message > p {
  font-size: 18px;
}

.message > div {
  text-align: end;
  font-size: 12px;
}
