/* GENERICS */
body {
  height: 100vh;
  padding-top: 50px;
  background-image: linear-gradient(#009688 15%, #dcdbd2 15%);
}

#boolzapp {
  height: 800px;
  background-color: white;
}

#user,
#chat-header,
#chat-footer {
  height: 80px;
  background-color: #eaeaea;
}

/* MEDIA */
.round-pic {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

/* ICONS */
#user i,
#chat-header i,
#chat-footer i {
  padding: 10px;
  cursor: pointer;
  color: #b1b1b1;
}

/* SIDEBAR */
#sidebar.col-4 {
  border-right: 1px solid black;
}

#notifications {
  height: 100px;
  background-color: #8edafc;
}

#search-bar {
  height: 60px;
  background-color: #eaeaea;
}

#contact-list {
  height: 560px;
  overflow-y: auto;
}

#contact-list li {
  list-style: none;
  border-bottom: 1px solid lightgrey;
}

#contact-list li:hover {
  cursor: pointer;
  background-color: lightgrey;
}

/* CHAT-CONTENT */
#chat {
  height: 640px;
  overflow-y: auto;
  background-image: url(../img/mine.jpg);
}

.user-message {
  background-color: #d5f9ba;
}

.contact-message {
  background-color: white;
}

.user-message,
.contact-message {
  border-radius: 40px;
  margin: 15px;
  padding: 20px;
}
